<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.ailuras.vellumx</string>
    <key>CFBundleName</key>
    <string>VellumX</string>
    <key>CFBundleDisplayName</key>
    <string>VellumX</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9</string>
    <key>CFBundleExecutable</key>
    <string>VellumX</string>
    <key>CFBundleIconFile</key>
    <string>VellumX</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>VellumXApplicationSupportName</key>
    <string>VellumX</string>
</dict>
</plist>
